torch
transformers
peft
accelerate
chromadb
sentence-transformers
langchain_text_splitters
bitsandbytes
jupyter
fastapi
uvicorn
python-dotenv
google-generativeai
pydantic
psutil
einops
gunicorn
python-multipart
